# --- Python Backend ---
__pycache__/
*.pyc
venv/
.env
*.db
*.sqlite3
/backend/reports/*.pdf

# --- React Frontend ---
node_modules/
dist/
.DS_Store
frontend/dist/
frontend/node_modules/
frontend/.env